@font-face {
	font-family: 'dmi';
	src:url('fonts/dmi.eot?g6dn3q');
	src:url('fonts/dmi.eot?#iefixg6dn3q') format('embedded-opentype'),
		url('fonts/dmi.ttf?g6dn3q') format('truetype'),
		url('fonts/dmi.woff?g6dn3q') format('woff'),
		url('fonts/dmi.svg?g6dn3q#dmi') format('svg');
	font-weight: normal;
	font-style: normal;
}

i {
	font-family: 'dmi';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-dmi-rendite3:before {
	content: "\e247";
}
.icon-dmi-denkmal3:before {
	content: "\e265";
}
.icon-dmi-rendite2:before {
	content: "\e60e";
}
.icon-dmi-hospital-o:before {
	content: "\e60f";
}
.icon-dmi-home:before {
	content: "\e600";
}
.icon-dmi-global-o:before {
	content: "\e601";
}
.icon-dmi-global:before {
	content: "\e602";
}
.icon-dmi-denkmal2:before {
	content: "\e603";
}
.icon-dmi-denkmal:before {
	content: "\e60d";
}
.icon-dmi-home2:before {
	content: "\e604";
}
.icon-dmi-rendite:before {
	content: "\e605";
}
.icon-dmi-home3:before {
	content: "\e606";
}
.icon-dmi-neubau:before {
	content: "\e607";
}
.icon-dmi-pflege:before {
	content: "\e609";
}
.icon-dmi-pflege2:before {
	content: "\e60a";
}
.icon-dmi-pflege3:before {
	content: "\e60b";
}
.icon-dmi-quote-left:before {
	content: "\f10d";
}
.icon-dmi-quote-right:before {
	content: "\f10e";
}
